<div class="image-text-swiper page-section-swiper relative">
        <div class="image-text-swiper-title page-section-title h2 index-container">{{title | escape}}</div>

        <div class="image-text-container relative">
            <div class="swiper-wrapper">
                {% for block in blocks %}
                    {% case block.type %}
                        {% when 'recent_events' %}
                        <div class="swiper-slide flex flex-col">
                            <div class="image-text-imgblock">
                                <img 
                                    class="pc-block"
                                    src="{{block.settings.image | img_url: '1200x'}}"
                                    alt="{{block.settings.title | escape}}"
                                >

                                <img 
                                    class="mobile-block"
                                    src="{{block.settings.m_image | img_url: '630x'}}"
                                    alt="{{block.settings.title | escape}}"
                                >
                            </div>
                            <div class="image-text-swiper-content relative">
                                <div class="image-text-swiper-name text-xl">
                                    {{block.settings.title | escape}}
                                </div>
                                <div class="flex justify-between items-center">
                                    <div class="image-text-swiper-des text-base text-overflow-2">{{block.settings.sub_text | escape}}</div>

                                    <a class="slide-link a-button-fill text-base" href="block.settings.link">
                                        {{block.settings.link_text | escape}}
                                        <span class="iconfont jackery-icon-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endcase %}
                {% endfor %}
            </div>

            <div class="index-container absolute slideshow-navigation">
                <div class="slideshow-navigation-button prev"><span class="iconfont jackery-icon-Next"></span></div>
                <div class="slideshow-navigation-button next"><span class="iconfont jackery-icon-Next"></span></div>
            </div>
        </div>

        <div class="slideshow-pagination"></div>
</div>

<script>
    class ImageTextSwiper {
        constructor(el) {
            this.DOM = {
                el: el.el,
                swiperContainer: el.swiperContainer
            };
            this.init();
        }
        init() {
            this.swiper = new Swiper(this.DOM.swiperContainer, {
                slidesPerView: 'auto',
                spaceBetween: 0,
                centeredSlides: true,
                loop: true,
                followFinger: false,
                pagination: {
                    el: `${this.DOM.el} .slideshow-pagination`,
                    clickable: true,
                    bulletClass: 'slideshow-pagination-item',
                    bulletActiveClass: 'active pagination-active',
                    clickableClass: 'slideshow-pagination-clickable',
                    modifierClass: 'slideshow-pagination-',
                    renderBullet: function (index, className) {
                        var slideIndex = index,
                            number = (index <= 8) ? '0' + (slideIndex + 1) : (slideIndex + 1);

                        var paginationItem = '<span class="slideshow-pagination-item">';
                        paginationItem = (index <= 8) ? paginationItem +
                            '<span class="pagination-separator"><span class="pagination-separator-loader"></span></span>' :
                            paginationItem;
                        paginationItem += '</span>';
                        return paginationItem;
                    },
                },
                on: {
                    init: function (swiper) {
                        let slide = this.slides.eq(0);
                        slide.addClass('ani-fade-img');
                    },
                    transitionStart: function () {
                        for (let i = 0; i < this.slides.length; i++) {
                            let slide = this.slides.eq(i);
                            slide.removeClass('ani-fade-img');
                        }
                    },
                    transitionEnd: function () {
                        let slide = this.slides.eq(this.activeIndex);
                        slide.addClass('ani-fade-img');
                    },
                    resize: function () {
                        this.update()
                    }
                },
                navigation: {
                    nextEl: `${this.DOM.el} .slideshow-navigation-button.next`,
                    prevEl: `${this.DOM.el} .slideshow-navigation-button.prev`,
                },
            });
        }
    }

    new ImageTextSwiper({
        swiperContainer: '.image-text-container',
        el: '.image-text-swiper'
    });
</script>