{% assign FAQ_SG = section.blocks | where: 'type', "FAQ_SG" %}
{% assign FAQ_PPS = section.blocks | where: 'type', "FAQ_PPS" %}
{% assign FAQ_SP = section.blocks | where: 'type', "FAQ_SP" %}
{% assign FAQ_ACC = section.blocks | where: 'type', "FAQ_ACC" %}

<style>
.accordion {width: 100%;}
.accordion .jackery-icon-arrowdown {transition: all 0.3s;}
.accordion ul li {display: flex; flex-flow: column; border-bottom: var(--border-grey); margin-bottom: 2.6042vw;}
.accordion ul li h4 {font-weight: 500; display: flex; align-items: center; justify-content: space-between;}
.accordion ul li input {opacity: 0; display: none;}
.accordion label {margin-bottom: var(--gap); cursor: pointer;}
.accordion .a_content {max-height: 0; padding-bottom: 0; overflow-y: hidden; transition: all 0.3s;}
.accordion .a_content p {font-size: 18px;}

.accordion ul li input:checked ~ label .jackery-icon-arrowdown {transform: rotate(180deg);}
.accordion ul li input:checked ~ .a_content {max-height: 500px; padding-bottom: 2.6042vw;}

.faq .accordion {max-width: 800px; margin: 0 auto;}

@media only screen and (max-width: 768px) {
  .accordion .a_content p {font-size: 14px;}
}
</style>

<h2>{{ section.settings.title }}</h2>
<ul class="tab">
  {% if FAQ_SG.size > 0 %}<li class="h4 on" data-type="sg">{{ 'collection.solar_generator' | t }}</li>{% endif %}
  {% if FAQ_PPS.size > 0 %}<li class="h4" data-type="pps">{{ 'collection.portable_power_station' | t }}</li>{% endif %}
  {% if FAQ_SP.size > 0 %}<li class="h4" data-type="sp">{{ 'collection.solar_panel' | t }}</li>{% endif %}
  {% if FAQ_ACC.size > 0 %}<li class="h4" data-type="acc">{{ 'collection.accessories' | t }}</li>{% endif %}
</ul>

{% if FAQ_SG.size > 0 %}
<div class="accordion tab-content sg on">
  <ul>
    {% for block in FAQ_SG %}
    <li>
      <input type="checkbox" id="{{ block.type }}_{{ forloop.index0 }}">
      <label for="{{ block.type }}_{{ forloop.index0 }}">
        <h4>{{ block.settings.title }}<i class="iconfont jackery-icon-arrowdown"></i></h4>
      </label>
      <div class="a_content">{{ block.settings.content }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if FAQ_PPS.size > 0 %}
<div class="accordion tab-content pps">
  <ul>
    {% for block in FAQ_PPS %}
    <li>
      <input type="checkbox" id="{{ block.type }}_{{ forloop.index0 }}">
      <label for="{{ block.type }}_{{ forloop.index0 }}">
        <h4>{{ block.settings.title }}<i class="iconfont jackery-icon-arrowdown"></i></h4>
      </label>
      <div class="a_content">{{ block.settings.content }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if FAQ_SP.size > 0 %}
<div class="accordion tab-content sp">
  <ul>
    {% for block in FAQ_SP %}
    <li>
      <input type="checkbox" id="{{ block.type }}_{{ forloop.index0 }}">
      <label for="{{ block.type }}_{{ forloop.index0 }}">
        <h4>{{ block.settings.title }}<i class="iconfont jackery-icon-arrowdown"></i></h4>
      </label>
      <div class="a_content">{{ block.settings.content }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if FAQ_ACC.size > 0 %}
<div class="accordion tab-content acc">
  <ul>
    {% for block in FAQ_ACC %}
    <li>
      <input type="checkbox" id="{{ block.type }}_{{ forloop.index0 }}">
      <label for="{{ block.type }}_{{ forloop.index0 }}">
        <h4>{{ block.settings.title }}<i class="iconfont jackery-icon-arrowdown"></i></h4>
      </label>
      <div class="a_content">{{ block.settings.content }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% schema %}
{
  "name": "user guide faq", "class": "layer layer-container manuals faq", "tag": "div",
  "settings": [
    {"type": "text", "id": "title", "label": "title", "default": "FAQ"}
  ],
  "blocks": [
    {
      "type": "FAQ_SG", "name": "Solar Generator FAQ", "settings": [
        {"type": "text", "id": "title", "label": "FAQ title", "default": "title"},
        {"type": "richtext", "id": "content", "label": "FAQ content", "default": "<p>content</p>"}
      ]
    },
    {
      "type": "FAQ_PPS", "name": "Power Station FAQ", "settings": [
        {"type": "text", "id": "title", "label": "FAQ title", "default": "title"},
        {"type": "richtext", "id": "content", "label": "FAQ content", "default": "<p>content</p>"}
      ]
    },
    {
      "type": "FAQ_SP", "name": "Solar Panel FAQ", "settings": [
        {"type": "text", "id": "title", "label": "FAQ title", "default": "title"},
        {"type": "richtext", "id": "content", "label": "FAQ content", "default": "<p>content</p>"}
      ]
    },
    {
      "type": "FAQ_ACC", "name": "Accessories FAQ", "settings": [
        {"type": "text", "id": "title", "label": "FAQ title", "default": "title"},
        {"type": "richtext", "id": "content", "label": "FAQ content", "default": "<p>content</p>"}
      ]
    }
  ]
}
{% endschema %}