<section class="user-voice">
        <div class="voice-banner">
            <div class="thumbsSlider-slideshow swiper-container">
                <div class="swiper-container slideshow slideshow3333">
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                        {%- assign img_url = block.settings.image | img_url: '1920x' -%}
                        {%- assign m_img_url = block.settings.m_image | img_url: '750x' -%}
                        <div class="swiper-slide slide">
                            <div class="slide-image pc-block"
                                style="background-image: url({{img_url}})">
                            </div>

                            <div class="slide-image mobile-block"
                                style="background-image: url({{m_img_url}})">
                            </div>
                            <div class="slide-content slide-content-img"></div>

                            <a class="slide-info pc-block" href="{{block.settings.p_link}}" style="bottom: {{block.settings.pc_y}}vw;left: {{block.settings.pc_x}}vw;display:flex!important;">
                                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_2x_0cdd2b58-1c28-427e-af1b-b68c5f8df76d.png?v=1670312292" alt="{{block.settings.p_name}}">
                                <div class="voice-user-productname h5">{{block.settings.p_name | escape}}</div>
                            </a>

                            <a class="slide-info mobile-block" href="{{block.settings.p_link}}" style="bottom: {{block.settings.m_y}}vw;left: {{block.settings.m_x}}vw;display:flex!important;justify-content: flex-start;">
                                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_2x_0cdd2b58-1c28-427e-af1b-b68c5f8df76d.png?v=1670312292" alt="{{block.settings.p_name}}">
                                <div class="voice-user-productname h5">{{block.settings.p_name | escape}}</div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="voice-text">
            <h1 class="user-voice-section-title h2">Voice from Our Customers</h1>
            <div class="vocie-thumbnail-container">
                <div class="slideshow-pagination slideshow-thumbnail-container">
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                        {%- assign user_avator = block.settings.user_avator | img_url: '77x' -%}
                        <div class="slideshow-thumbnail swiper-slide">
                            <div class="voice-content">
                                <div>
                                    <div class="voice-user-rate">
                                        <div class="rate">
                                            <label title="5.0" rate="5" {% if block.settings.rating == 5 %}class="checked"{% endif %}></label>
                                            <label title="4.0" rate="4" {% if block.settings.rating == 4 %}class="checked"{% endif %}></label>
                                            <label title="3.0" rate="3" {% if block.settings.rating == 3 %}class="checked"{% endif %}></label>
                                            <label title="2.0" rate="2" {% if block.settings.rating == 2 %}class="checked"{% endif %}></label>
                                            <label title="1.0" rate="1" {% if block.settings.rating == 1 %}class="checked"{% endif %}></label>
                                        </div>
                                    </div>
                                    <div class="voice-user-title h5">{{block.settings.review_title | escape}}</div>
                                    <div class="voice-user-comment h5">{{block.settings.user_comment | escape}}</div>
                                    <div class="voice-user-comment-all h5"><span class="iconfont jackery-icon-arrow-right"></span></div>
                                </div>
                                <div class="voice-user-container">
                                    <div class="voice-user-avator">
                                        <img src="{{user_avator}}" alt="{{block.settings.user_name}}">

                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_1_2x_f1b3030c-8c66-4b42-bb45-620ff89a90a2.png?v=1670307826" alt="" class="voice-user-approve">

                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_2_2x_18fdd37e-93ee-45e5-8221-361bb6317651.png?v=1670308144" alt="" class="voice-user-approve voice-user-approve-unactive">
                                    </div>

                                    <div class="voice-user-name h6">{{block.settings.user_name}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="slideshow-pagination slideshow-pagination-voice"></div>
            </div>

            <div class="next-voice-btn">
                    <div class="ra-btn in">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
                            <circle class="cbtn-bg" cx="50" cy="50" r="23" fill="none" stroke="#B4B1B5" stroke-width="1" />
                            <circle class="cbtn-fg" cx="50" cy="50" r="23" fill="none" stroke="#FD5000" stroke-width="1.5" />
                            <g class="cbtn-acnt">
                                <path class="cbtn-arrow" fill="none" stroke="#FD5000" stroke-width="2"
                                    d="M47.7 39.4L58.2 50 47.7 60.5M36.5 50h21.4" />
                            </g>
                        </svg>
                    </div>
                </div>
        </div>
    </section>
<script src="{{ 'voice-swiper.bundle.js' | asset_url }}" defer="defer">

</script>

{% schema %}
{
  "name": "Voice swiper",
  "settings": [
    {"type": "text", "id": "title", "label": "Section title", "default": "Voice from Our Custo"}
  ],
  "blocks": [{
    "type": "image", "name": "Slide Voice",
    "settings": [
      {"type": "textarea", "id": "p_name", "label": "Product name"},
      {"type": "url", "id": "p_link", "label": "Product link"},
      {"type": "range", "id": "rating", "min": 1, "max": 5, "step": 1, "default": 4, "label": "Review Rating"},
      {"type": "textarea", "id": "review_title", "label": "Review title"},
      {"type": "textarea", "id": "user_comment", "label": "User comment"},
      {"type": "text", "id": "user_name", "label": "User name"},
      {"type": "image_picker", "id": "user_avator", "label": "User avator"},
      {"type": "image_picker", "id": "image", "label": "Image"},
      {"type": "image_picker", "id": "m_image", "label": "Mobile Image"},
      {"type": "range", "id": "pc_x", "min": 0, "max": 50, "step": 1, "default": 28, "label": "PC position x"},
      {"type": "range", "id": "pc_y", "min": 0, "max": 50, "step": 1, "default": 14, "label": "PC position y"},
      {"type": "range", "id": "m_x", "min": 0, "max": 100, "step": 1, "default": 63, "label": "Mobile position x"},
      {"type": "range", "id": "m_y", "min": 0, "max": 50, "step": 1, "default": 37, "label": "Mobile position y"}
    ]
  }]
}
{% endschema %}