<div class="index-container">
<div class="support-section-title h2">{{section.settings.title | escape}}</div>
        <div style="text-align: center;">
          <a class="support-more underlines-btn h5" href="{{section.settings.link}}">{{section.settings.link_text | escape}} <span class="iconfont jackery-icon-arrow-right"></span></a>
        </div>
        <div class="support-accordion">
            {% for block in section.blocks %}
            {%- assign img_url = block.settings.image | img_url: '100x' -%}
            <div class="col-container">
                <img src="{{img_url}}" alt="{{block.settings.title}}">
                <p class="h4">{{block.settings.title | escape}}</p>
                <div class="accordion-arrow"><span class="iconfont jackery-icon-arrow-right"></span></div>
                <div class="support-content">
                    <span class="p">{{block.settings.content | escape}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
</div>

<script src="{{ 'index-support.bundle.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Index support",
  "tag": "section",
  "class": "section index-section-support",
  "settings": [
    {"type": "text", "id": "title", "label": "Section title", "default": "Support"},
    {"type": "url", "id": "link", "label": "Slide link"},
    {"type": "text", "id": "link_text", "label": "Button text", "default": "View more"}
  ],
  "blocks": [{
      "type": "image", "name": "Index Support",
      "settings": [
        {"type": "text", "id": "title", "label": "Heading", "default": "Two line slide title."},
        {"type": "textarea", "id": "content", "label": "Support content"},
        {"type": "image_picker", "id": "image", "label": "Icon"}
     ]
  }]
}
{% endschema %}
