{% assign SG = section.blocks | where: 'type', "SG_PDF" %}
{% assign PPS = section.blocks | where: 'type', "PPS_PDF" %}
{% assign SP = section.blocks | where: 'type', "SP_PDF" %}
{% assign ACC = section.blocks | where: 'type', "ACC_PDF" %}

<h2>{{ section.settings.title }}</h2>
<div class="tab-container">
  <ul class="tab">
    {% if SG.size > 0 %}<li class="h4" data-type="sg">{{ 'collection.solar_generator' | t }}</li>{% endif %}
    {% if PPS.size > 0 %}<li class="h4 on" data-type="pps">{{ 'collection.portable_power_station' | t }}</li>{% endif %}
    {% if SP.size > 0 %}<li class="h4" data-type="sp">{{ 'collection.solar_panel' | t }}</li>{% endif %}
    {% if ACC.size > 0 %}<li class="h4" data-type="acc">{{ 'collection.accessories' | t }}</li>{% endif %}
  </ul>
</div>

<div class="search-box">
  <input type="text" placeholder="{{ section.settings.placeholder }}" />
  <button type="button">{{ section.settings.button }}</button>
</div>

{% if SG.size > 0 %}
<ul class="list tab-content sg">
  {% for block in SG limit: 8 %}
  <li>
    <i class="img-icon iconfont jackery-icon-pdf"></i>
    <b class="h5">{{ block.settings.file_name }}</b>
    <a class="a-button h5" href="{{ block.settings.link }}"><i class="iconfont jackery-icon-download"></i>{{ section.settings.download }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if PPS.size > 0 %}
<ul class="list tab-content pps on">
  {% for block in PPS limit: 8 %}
  <li>
    <i class="img-icon iconfont jackery-icon-pdf"></i>
    <b class="h5">{{ block.settings.file_name }}</b>
    <a class="a-button h5" href="{{ block.settings.link }}"><i class="iconfont jackery-icon-download"></i>{{ section.settings.download }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if SP.size > 0 %}
<ul class="list tab-content sp">
  {% for block in SP limit: 8 %}
  <li>
    <i class="img-icon iconfont jackery-icon-pdf"></i>
    <b class="h5">{{ block.settings.file_name }}</b>
    <a class="a-button h5" href="{{ block.settings.link }}"><i class="iconfont jackery-icon-download"></i>{{ section.settings.download }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if ACC.size > 0 %}
<ul class="list tab-content acc">
  {% for block in ACC limit: 8 %}
  <li>
    <i class="img-icon iconfont jackery-icon-pdf"></i>
    <b class="h5">{{ block.settings.file_name }}</b>
    <a class="a-button h5" href="{{ block.settings.link }}"><i class="iconfont jackery-icon-download"></i>{{ section.settings.download }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if section.settings.more_url != blank %}
  <a class="more h5" href="{{ section.settings.more_url }}">{{ section.settings.more }} <i class="iconfont jackery-icon-arrowdown"></i></a>
{% endif %}

<script type="application/ld+json" id="user-guide-json">
{
  "sg": [
    {% for block in SG %}
      {"file_name": "{{ block.settings.file_name }}", "link": "{{ block.settings.link }}"}{% if forloop.last != true %},{% endif %}
    {% endfor %}
  ],
  "pps": [
    {% for block in PPS %}
      {"file_name": "{{ block.settings.file_name }}", "link": "{{ block.settings.link }}"}{% if forloop.last != true %},{% endif %}
    {% endfor %}
  ],
  "sp": [
    {% for block in SP %}
      {"file_name": "{{ block.settings.file_name }}", "link": "{{ block.settings.link }}"}{% if forloop.last != true %},{% endif %}
    {% endfor %}
  ],
  "acc": [
    {% for block in ACC %}
      {"file_name": "{{ block.settings.file_name }}", "link": "{{ block.settings.link }}"}{% if forloop.last != true %},{% endif %}
    {% endfor %}
  ]
}
</script>

{% schema %}
{
  "name": "user guide pdf", "class": "layer layer-container manuals pdf", "tag": "div",
  "settings": [
    {"type": "text", "id": "title", "label": "title", "default": "User Manuals"},
    {"type": "text", "id": "placeholder", "label": "search placeholder", "default": "Search Product Model"},
    {"type": "text", "id": "button", "label": "search button text", "default": "Search"},
    {"type": "text", "id": "download", "label": "download text", "default": "DOWNLOAD"},
    {"type": "text", "id": "more", "label": "view more", "default": "View More"},
    {"type": "url", "id": "more_url", "label": "view more url"}
  ],
  "blocks": [
    {
      "type": "SG_PDF", "name": "Solar Generator PDF", "settings": [
        {"type": "text", "id": "file_name", "label": "pdf file name", "default": "Jackery Explorer 160 Power Station User Manual"},
        {"type": "url", "id": "link", "label": "pdf file link"}
      ]
    },
    {
      "type": "PPS_PDF", "name": "Power Station PDF", "settings": [
        {"type": "text", "id": "file_name", "label": "pdf file name", "default": "Jackery Explorer 160 Power Station User Manual"},
        {"type": "url", "id": "link", "label": "pdf file link"}
      ]
    },
    {
      "type": "SP_PDF", "name": "Solar Panel PDF", "settings": [
        {"type": "text", "id": "file_name", "label": "pdf file name", "default": "Jackery Explorer 160 Power Station User Manual"},
        {"type": "url", "id": "link", "label": "pdf file link"}
      ]
    },
    {
      "type": "ACC_PDF", "name": "Accessories PDF", "settings": [
        {"type": "text", "id": "file_name", "label": "pdf file name", "default": "Jackery Explorer 160 Power Station User Manual"},
        {"type": "url", "id": "link", "label": "pdf file link"}
      ]
    }
  ]
}
{% endschema %}