{{ 'page-index.bundle.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" rel="preload" href="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/swiper-bundle.min.css?v=1670922528">
<link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />


{% assign VIDEO_SG = section.blocks | where: 'type', "VIDEO_SG" %}
{% assign VIDEO_PPS = section.blocks | where: 'type', "VIDEO_PPS" %}
{% assign VIDEO_SP = section.blocks | where: 'type', "VIDEO_SP" %}
{% assign VIDEO_ACC = section.blocks | where: 'type', "VIDEO_ACC" %}

<h2>{{ section.settings.title }}</h2>
<ul class="tab">
  {% if VIDEO_SG.size > 0 %}<li class="h4 on" data-type="sg">{{ 'collection.solar_generator' | t }}</li>{% endif %}
  {% if VIDEO_PPS.size > 0 %}<li class="h4" data-type="pps">{{ 'collection.portable_power_station' | t }}</li>{% endif %}
  {% if VIDEO_SP.size > 0 %}<li class="h4" data-type="sp">{{ 'collection.solar_panel' | t }}</li>{% endif %}
  {% if VIDEO_ACC.size > 0 %}<li class="h4" data-type="acc">{{ 'collection.accessories' | t }}</li>{% endif %}
</ul>
<div class="search-box">
  <input type="text" placeholder="{{ section.settings.placeholder }}" />
  <button type="button">{{ section.settings.button }}</button>
</div>

<div class="swiper-container slideshow video-slideshow">
  <div class="swiper-wrapper">
    {% for block in VIDEO_SG %}
    {%- assign img_url = block.settings.video_pic | img_url: '750x' -%}
    <div class="swiper-slide slide" block-id="{{block.id}}" block-src="{{block.settings.video_url}}">
      <video data-dps-name="default_" name="media" muted="" loop="" class="slide-video pc-block">
        <source data-layzr-src="{{block.settings.video_url}}" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;" src="{{block.settings.video_url}}">
      </video>
      <div class="slide-image mobile-block" style="background-image: url({{img_url}})"></div>
          
      <div class="slide-content absolute">
        <span class="slide-title h3">{{block.settings.title | escape}}</span>
        <a class="slide-link h5 underlines-btn" href="{{block.settings.link}}">
          {{block.settings.link_text | escape}}
          <span class="iconfont jackery-icon-arrow-right"></span>
        </a>
      </div>

        <div class="absolute mobile-block video-swiper-play" data-modal="#s{{block.id}}">
          <span class="iconfont jackery-icon-24gl-playCircle"></span>
        </div>
    </div>
    {% endfor %}
  </div>

  <div class="slideshow-pagination"></div>
  <div class="slideshow-navigation">
    <div class="slideshow-navigation-button prev"><span class="iconfont jackery-icon-Next"></span></div>
    <div class="slideshow-navigation-button next"><span class="iconfont jackery-icon-Next"></span></div>
  </div>
</div>

<div class="modal video-swiper-modal" data-modal-window id="">
  <video id="index-section-video" class="video-js video-modal-video vjs-modal" controls preload="auto" poster="" data-setup=''>
    <source src="https://cdn.shopify.com/videos/c/o/v/b4c985e0a54e4f348521244be8303c05.mp4" type="video/mp4"/>     
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
  <div class="video-modal-close" data-modal-close></div>
</div>

<script src="{{ 'video-swiper.bundle.js' | asset_url }}" defer="defer"></script>

<script type="application/ld+json" id="user-guide-video">
{
  "sg": [
    {% for block in VIDEO_SG %}
      {"title": "{{ block.settings.title }}", "link": "{{ block.settings.link }}", "link_text": "{{ block.settings.link_text }}", "video_url": "{{ block.settings.video_url }}", "video_pic": "{{ block.settings.video_pic }}"}{% if forloop.last != true %},{% endif %}
    {% endfor %}
  ],
  "pps": [
    {% for block in VIDEO_PPS %}
      {"title": "{{ block.settings.title }}", "link": "{{ block.settings.link }}", "link_text": "{{ block.settings.link_text }}", "video_url": "{{ block.settings.video_url }}", "video_pic": "{{ block.settings.video_pic }}"}{% if forloop.last != true %},{% endif %}
    {% endfor %}
  ],
  "sp": [
    {% for block in VIDEO_SP %}
      {"title": "{{ block.settings.title }}", "link": "{{ block.settings.link }}", "link_text": "{{ block.settings.link_text }}", "video_url": "{{ block.settings.video_url }}", "video_pic": "{{ block.settings.video_pic }}"}{% if forloop.last != true %},{% endif %}
    {% endfor %}
  ],
  "acc": [
    {% for block in VIDEO_ACC %}
      {"title": "{{ block.settings.title }}", "link": "{{ block.settings.link }}", "link_text": "{{ block.settings.link_text }}", "video_url": "{{ block.settings.video_url }}", "video_pic": "{{ block.settings.video_pic }}"}{% if forloop.last != true %},{% endif %}
    {% endfor %}
  ]
}
</script>

{% schema %}
{
  "name": "user guide video", "class": "layer layer-container manuals video", "tag": "div",
  "settings": [
    {"type": "text", "id": "title", "label": "title", "default": "User Guide Video"},
    {"type": "text", "id": "placeholder", "label": "search placeholder", "default": "Search Video"},
    {"type": "text", "id": "button", "label": "search button text", "default": "Search"}
  ],
  "blocks": [
    {
      "type": "VIDEO_SG", "name": "Solar Generator Video", "settings": [
        {"type": "text", "id": "title", "label": "Heading", "default": "Two line slide title - 1."},
        {"type": "url", "id": "link", "label": "Slide link"},
        {"type": "text", "id": "link_text", "label": "Slide link text", "default": "VIEW MORE"},
        {"type": "url", "id": "video_url", "label": "Video url"},
        {"type": "image_picker", "id": "video_pic", "label": "Mobile Image"}
      ]
    },
    {
      "type": "VIDEO_PPS", "name": "Power Station Video", "settings": [
        {"type": "text", "id": "title", "label": "Heading", "default": "Two line slide title - 1."},
        {"type": "url", "id": "link", "label": "Slide link"},
        {"type": "text", "id": "link_text", "label": "Slide link text", "default": "VIEW MORE"},
        {"type": "url", "id": "video_url", "label": "Video url"},
        {"type": "image_picker", "id": "video_pic", "label": "Mobile Image"}
      ]
    },
    {
      "type": "VIDEO_SP", "name": "Solar Panel Video", "settings": [
        {"type": "text", "id": "title", "label": "Heading", "default": "Two line slide title - 1."},
        {"type": "url", "id": "link", "label": "Slide link"},
        {"type": "text", "id": "link_text", "label": "Slide link text", "default": "VIEW MORE"},
        {"type": "url", "id": "video_url", "label": "Video url"},
        {"type": "image_picker", "id": "video_pic", "label": "Mobile Image"}
      ]
    },
    {
      "type": "VIDEO_ACC", "name": "Accessories Video", "settings": [
        {"type": "text", "id": "title", "label": "Heading", "default": "Two line slide title - 1."},
        {"type": "url", "id": "link", "label": "Slide link"},
        {"type": "text", "id": "link_text", "label": "Slide link text", "default": "VIEW MORE"},
        {"type": "url", "id": "video_url", "label": "Video url"},
        {"type": "image_picker", "id": "video_pic", "label": "Mobile Image"}
      ]
    }
  ]
}
{% endschema %}