{% assign PPS = section.blocks | where: 'type', "Maintenance_PPS" %}
{% assign SP = section.blocks | where: 'type', "Maintenance_SP" %}

<h2>{{ section.settings.title }}</h2>
<ul class="tab">
  <li class="h4 on" data-type="pps">{{ 'collection.portable_power_station' | t }}</li>
  <li class="h4" data-type="sp">{{ 'collection.solar_panel' | t }}</li>
</ul>

<ul class="list tab-content pps on">
  {% for block in PPS limit: 3 %}
  <li>
    <img src="{{ block.settings.image | img_url: '840x' }}" alt="{{ block.settings.title }}" />
    <b class="h5">{{ block.settings.title }}</b>
    <button class="a-button h5">{{ section.settings.more }}<i class="iconfont jackery-icon-arrow-right"></i></button>
  </li>
  {% endfor %}
</ul>

<ul class="list tab-content sp">
  {% for block in SP limit: 3 %}
  <li>
    <img src="{{ block.settings.image | img_url: '840x' }}" alt="{{ block.settings.title }}" />
    <b class="h5">{{ block.settings.title }}</b>
    <button class="a-button h5">{{ section.settings.more }}<i class="iconfont jackery-icon-arrow-right"></i></button>
  </li>
  {% endfor %}
</ul>

<script type="application/ld+json" id="product-maintenance">
{
  "pps": [
    {% for block in PPS %}
      {"title": "{{ block.settings.title }}", "content": "{{ block.settings.content }}", "image": "{{ block.settings.image | img_url: '840x' }}"}{% if forloop.last != true %},{% endif %}
    {% endfor %}
  ],
  "sp": [
    {% for block in PPS %}
      {"title": "{{ block.settings.title }}", "content": "{{ block.settings.content }}", "image": "{{ block.settings.image | img_url: '840x' }}"}{% if forloop.last != true %},{% endif %}
    {% endfor %}
  ]
}
</script>

{% schema %}
{
  "name": "product maintenance", "class": "layer layer-container manuals maintenance", "tag": "div",
  "settings": [
    {"type": "text", "id": "title", "label": "title", "default": "Product Maintenance"},
    {"type": "text", "id": "more", "label": "Learn More text", "default": "LEARN MORE"}
  ],
  "blocks": [
    {
      "type": "Maintenance_PPS", "name": "Power Station Maintenance", "settings": [
        {"type": "text", "id": "title", "label": "Maintenance Title", "default": "The use environment of Power station"},
        {"type": "richtext", "id": "content", "label": "Maintenance Content"},
        {"type": "image_picker", "id": "image", "label": "Maintenance image", "info": "Recommended size: 840px*378px"}
      ]
    },
    {
      "type": "Maintenance_SP", "name": "Solar Panel Maintenance", "settings": [
        {"type": "text", "id": "title", "label": "Maintenance Title", "default": "The use environment of solar panel"},
        {"type": "richtext", "id": "content", "label": "Maintenance Content"},
        {"type": "image_picker", "id": "image", "label": "Maintenance image", "info": "Recommended size: 840px*378px"}
      ]
    }
  ]
}
{% endschema %}