<div class="slider-title h2">{{section.settings.title | escape}}</div>
<div class="scene-container">
        <div class="thumb-container">
            <div class="slideshow-pagination slideshow-thumbnail-container slideshow-thumbnail-container-scene">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                    {%- assign img_url = block.settings.image | img_url: '1920x' -%}
                    <div class="slideshow-thumbnail swiper-slide">
                        <div class="slideshow-thumbnail-img"
                            style="background-image: url({{img_url}});">
                        </div>
                        <div style="width: 100%;">
                            <div class="slideshow-thumbnail-name h5">{{block.settings.title | escape}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="thumbsSlider-slideshow swiper-container">
            <div class="swiper-container slideshow slideshowscene">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                    {%- assign img_url = block.settings.image | img_url: '1920x' -%}
                    {%- assign m_img_url = block.settings.m_image | img_url: '750x' -%}
                    <div class="swiper-slide slide">
                        <a href="{{block.settings.link}}" class="slide-image pc-block"
                            style="background-image: url({{img_url}})">
                        </a>

                        <a href="{{block.settings.link}}" class="slide-image mobile-block"
                            style="background-image: url({{m_img_url}})">
                        </a>

                        <div class="slide-content slide-content-img">
                        </div>

                        <div class="slide-info absolute">
                            <a class="slid-collection-title h2 underlines-btn" href="{{block.settings.link}}">{{block.settings.title | escape}}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<script src="{{ 'scene-swiper.bundle.js' | asset_url }}" defer="defer"></script>


{% schema %}
{
  "name": "Scene swiper",
  "tag": "section",
  "class": "section scene-swiper",
  "settings": [
    {"type": "textarea", "id": "title", "label": "Section title", "default": "Application Scenarios of Jackery Solar"}
  ],
  "blocks": [{
      "type": "image", "name": "Slide scene",
      "settings": [
        {"type": "textarea", "id": "title", "label": "Heading", "default": "Two line slide title."},
        {"type": "url", "id": "link", "label": "Slide link"},
        {"type": "image_picker", "id": "image", "label": "Image"},
        {"type": "image_picker", "id": "m_image", "label": "Mobile Image"}
      ]
  }]
}
{% endschema %}