
<div class="swiper-container slideshow video-slideshow">
    <div class="swiper-wrapper">
        {% for block in section.blocks %}
        {%- assign img_url = block.settings.video_pic | img_url: '750x' -%}
        <div class="swiper-slide slide" block-id="{{block.id}}" block-src="{{block.settings.video_url}}">
            <video data-dps-name="default_" name="media" muted="" loop="" class="slide-video pc-block">
                <source
                    data-layzr-src="{{block.settings.video_url}}"
                    type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;"
                    src="{{block.settings.video_url}}">
            </video>
            <div class="slide-image mobile-block"
                style="background-image: url({{img_url}})">
            </div>
                
            <div class="slide-content absolute">
                <span class="slide-title h3">{{block.settings.title | escape}}</span>
                <a 
                    class="slide-link h5 underlines-btn" 
                    href="{{block.settings.link}}"
                >
                    {{block.settings.link_text | escape}}
                    <span class="iconfont jackery-icon-arrow-right"></span>
                </a>
            </div>

            <div class="absolute mobile-block video-swiper-play" data-modal="#s{{block.id}}">
                <span class="iconfont jackery-icon-24gl-playCircle"></span>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="slideshow-pagination"></div>
    <div class="slideshow-navigation">
        <div class="slideshow-navigation-button prev"><span class="iconfont jackery-icon-Next"></span></div>
        <div class="slideshow-navigation-button next"><span class="iconfont jackery-icon-Next"></span></div>
    </div>
</div>

<div class="modal video-swiper-modal" data-modal-window id="">
    <video 
        id="index-section-video" 
        class="video-js video-modal-video vjs-modal" 
        controls preload="auto" 
        poster="" 
        data-setup=''
>
    <source
        src="https://cdn.shopify.com/videos/c/o/v/b4c985e0a54e4f348521244be8303c05.mp4"
        type="video/mp4"
    />     
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
    </video>
    <div class="video-modal-close" data-modal-close></div>
</div>

<script src="{{ 'video-swiper.bundle.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Video swiper",
  "tag": "section",
  "class": "section video-swiper",
  "settings": [],
  "blocks": [{
      "type": "image", "name": "Video Banner",
      "settings": [
          {"type": "textarea", "id": "title", "label": "Heading", "default": "Two line slide title - 1."},
          {"type": "url", "id": "link", "label": "Slide link"},
          {"type": "text", "id": "link_text", "label": "Slide link text", "default": "View more"},
          {"type": "url", "id": "video_url", "label": "Video url"},
          {"type": "image_picker", "id": "video_pic", "label": "Mobile Image"}
      ]
  }]
}
{% endschema %}