<div class="card-swiper page-section-swiper relative">
        <div class="h2 section-container text-center card-swiper-title page-section-title">{{title | escape}}</div>
        <div class="card-swiper-container relative">
            <div class="swiper-wrapper">
                {% for block in blocks %}
                    {% case block.type %}
                        {% when 'announced_block' %}
                        <div class="swiper-slide flex-col">
                            <div class="image-text-imgblock">
                                <img class="object-cover"
                                    src="{{block.settings.image | img_url: '610x'}}"
                                    alt="{{block.settings.title | escape}}">
                            </div>
                            <div class="card-swiper-slide-content flex flex-col items-center">
                                <div class="font-bold text-lg card-swiper-slide-title text-overflow-2">
                                    {{block.settings.title | escape}}
                                </div>
                                <div class="card-swiper-slide-des text-base text-overflow-2">
                                    {{block.settings.sub_text | escape}}
                                </div>

                                <a class="slide-link a-button-fill text-base" href="{{block.settings.link}}">
                                    {{block.settings.link_text | escape}}
                                    <span class="iconfont jackery-icon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    {% endcase %}
                {% endfor %}
            </div>

            <div class="index-container absolute slideshow-navigation">
                <div class="slideshow-navigation-button prev"><span class="iconfont jackery-icon-Next"></span></div>
                <div class="slideshow-navigation-button next"><span class="iconfont jackery-icon-Next"></span></div>
            </div>
        </div>

        <div class="slideshow-pagination"></div>
</div>


<script>
    class CardSwiper {
        constructor(el) {
            this.DOM = {
                el: el.el,
                swiperContainer: el.swiperContainer
            };
            this.init();
        }
        init() {
            this.swiper = new Swiper(this.DOM.swiperContainer, {
                slidesPerView: 1,
                spaceBetween: 0,
                centeredSlides: true,
                loop: true,
                followFinger: false,
                navigation: {
                    nextEl: `${this.DOM.el} .slideshow-navigation-button.next`,
                    prevEl: `${this.DOM.el} .slideshow-navigation-button.prev`,
                },
                pagination: {
                    el: `${this.DOM.el} .slideshow-pagination`,
                    clickable: true,
                    bulletClass: 'slideshow-pagination-item',
                    bulletActiveClass: 'active pagination-active',
                    clickableClass: 'slideshow-pagination-clickable',
                    modifierClass: 'slideshow-pagination-',
                    renderBullet: function (index, className) {
                        var slideIndex = index,
                            number = (index <= 8) ? '0' + (slideIndex + 1) : (slideIndex + 1);

                        var paginationItem = '<span class="slideshow-pagination-item">';
                        paginationItem = (index <= 8) ? paginationItem +
                            '<span class="pagination-separator"><span class="pagination-separator-loader"></span></span>' :
                            paginationItem;
                        paginationItem += '</span>';
                        return paginationItem;
                    }
                },
                on: {
                    resize: function () {
                        this.update()
                    }
                },
                breakpoints: {
                    768: {
                        slidesPerView: 3
                    }
                }
            })
        }
    }

    new CardSwiper({
        swiperContainer: '.card-swiper-container',
        el: '.card-swiper'
    });
</script>